@using MudBlazor
@using OnlineShop.Client.Components.Auth
@using OnlineShop.Client.Services.State
@inherits LayoutComponentBase
@inject IDialogService _dialogService

<MudLayout>
    <MudAppBar Elevation="1">
        @if (!navMenuOpen)
        {
            <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="DrawerToggle"/>
        }
        <MudSpacer/>

        <MudButton OnClick="Auth">
            <MudAvatar Color="Color.Info" Variant="Variant.Text">
                @if (Letter != ' ')
                {
                    <span>@Letter</span>
                }
                else
                {
                    <MudIcon Icon="@Icons.Outlined.QuestionMark"/>
                }
            </MudAvatar>
        </MudButton>
        <MudTooltip Text="Корзина">
            <MudIconButton Icon="@Icons.Material.Filled.ShoppingCart" Color="Color.Inherit"/>
        </MudTooltip>
    </MudAppBar>

    <NavMenu Open=@navMenuOpen ClickedClose="DrawerToggle"/>
    <MudMainContent>
        <div class="content px-4">
            @Body
        </div>
    </MudMainContent>
</MudLayout>

@code{

    [CascadingParameter]
    public AppState AppState { get; set; }

    bool navMenuOpen = false;
    private char Letter;

    protected override void OnInitialized()
    {
        string userName = AppState.UserState?.UserName ?? "";
        Letter = userName != "" ? userName.Substring(0, 1).ToUpper()[0] : ' ';
    }

    void DrawerToggle()
    {
        navMenuOpen = !navMenuOpen;
    }

    private void Auth()
    {
        _dialogService.Show<AuthDialog>();
    }

}